#kf-player{
    display: flex;
    flex-direction: row;
    background-color: #262626;
    height: 40px;
    padding: 10px;
    font-size: 40px;
    width: 100px;
    line-height: 40px;
    text-align: center;
  }
  #kf-player > .kf-item-auto {
    flex: auto;
  }
  .kf-item-color{
    color:#0078D7;
    font-weight: 900;
  }
  